<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta4.JPG);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Apsilankykite</h3>
                    <div class="call-to-action">
                        <a href="/pages/calendar" class="btn video-view">Kalendorius</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>