<h3>Suttų skaitymai</h3>
<p>Jau antrus metus antradieniais 20 val. renkames centre ir nuotoliu paskaityti ir aptarti pali suttų lietuviškus vertimus.</p>

<p>Jau perskatėme <em>Didžiajai suttai apie Parinibbāna <a href="https://suttacentral.net/dn16">(Mahāparinibbānasutta DN 16)</a></em>, ilgiausią pali kanono suttą. Toliau skaitome įvairaus ilgio suttas susijusias su Budos mokymo teorija ir praktika. Skaitome lėtai ir daug diskutuojame. Pagrindinis mūsų tikslas yra pamąstyti, kaip galime pritaikyti gyvenime tai, ką skaitome. Grupė yra labiau erdvė mūsų visų diskusijai, nei katedra paskaitoms skaityti.</p>

<p>Norėdami prisijungti nuotoliu parašykite mums į aloka@theravada.lt laišką tema „Noriu skaityti suttas”. Norėdami prisijungti gyvai – tiesiog ateikite.</p>