<h3>Meditacija</h3>
<p>Po giedojimų, kiekvieną rytą ir vakarą, prasideda pusvalandžio trukmės formali meditacija. Medituojame arba sėdėdami, arba vaikščiodami – pagal kiekvieno poreikį. Rytinė meditacija padeda pabusti, paruošti protą ir širdį dienos sėkmėms ir nesėkmėms, o vakarinė - palikti dienos rūpesčius, paleisti emociijas is nesuskaičiuojamus tos dienos įspūdžius.</p>

<p>Jei jūs norėtumėte gauti asmenines instrukcijas meditacijai ar aptarti savo praktiką, <a href="/pages/contact">rašykite arba skambinkite</a> ir susitarkite su Pija dėl susitikimo.</p>
<!-- <img class="mb-30" src="{{site.baeurl}}/assets/img/services/meditacija_kartu.jpg"  alt="meditacijos kambarys" style="width: 75%;"> -->