<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider6.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Ramybės ir <br>šviesos oazė <span>visiems</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Nuo gruodžio 2d. popietės iki 4d. imtinai centras bus UŽDARYTAS </p>
                            <a href="{{ site.baseurl }}/pages/schedule" class="btn" data-animation="fadeInUp" data-delay=".6s">Tvarkaraštis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Ramybės ir <br>šviesos oazė <span>visiems</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Pirmadienio vakarais<em> Alokos centre</em> vedama meditacija pradedantiesiems</p>
                            <a href="{{ site.baseurl }}/pages/schedule" class="btn" data-animation="fadeInUp" data-delay=".6s">Tvarkaraštis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Ramybės ir <br>šviesos oazė <span>visiems</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Alokos centras</em> - tai oazė skirta meditacijai ir pažinčiai su Budos mokymais</p>
                            <a href="{{ site.baseurl }}/pages/schedule" class="btn" data-animation="fadeInUp" data-delay=".6s">Tvarkaraštis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>