<div id="mc_embed_signup" class="subscribe-form">
    <form action="https://aloka.us5.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="010c30cb417bf13d3e5c5a874">
        <input type="hidden" name="id" value="82464f3123">
        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="el. pašto adresas" required>
        <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="fab fa-telegram-plane"></i></button></div>
        <input type="hidden" name="ht" value="6e163132d1ba9be426345ea20224721ab40df737:MTYzMDI0MzQ0Ni4yMDE1">
        <input type="hidden" name="mc_signupsource" value="hosted">
    
</form>
<!-- <form action="{{site.mailchimp_list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="el. pašto adresas" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{site.mailchimp_input_name}}" tabindex="-1" value=""></div>
    <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="fab fa-telegram-plane"></i></button></div>
    </div>
</form> -->
</div>