<div class="row">
    <div class="col-md-12">
        <div class="service-details mb-40">
            <!-- <h3>Dedicated support quaerat parturient denouncing</h3> -->
            <p>Centro programoje tinkantį sau užsiėmimą ras ir tie, kam  budizmas yra įdomus kaip religija, ir tie, kas domisi budizmu kaip filosofija, ir tie, kam priimtinas tik nereliginis budizmo aspektas - meditacija.</p>    
        </div>
        
        <h4>Pirmadienis - Šeštadienis</h4>
        <p>6:15 - 6:30 Giedojimas<br>
        6:30 - 7:30 Meditacija<br>
        18:00 - 18:30 Giedojimas<br>
        18:30 - 19:30 Meditacija</p>
        <h4>Penktadienis</h4>
        <p>19:35 - ? Pašnekesiai su vienuole</p>
        <h4>Šeštadienis</h4>
        <p>9:00 - 17:00 Teigiamų emocijų vystymo kursas
        <h4>Sekmadienis</h4>
        <p>8:20 - 8:30 Maisto aukojimas Budai<br>
        8:30 - 8:40 Prieglobstis ir penki priesakai<br>
        8:40 - 9:00 Giedojimas<br>
        9:00 - 10:00 Meditacija<br>
        10:00 - 11:00 Kalba apie Dhammą<br>
        11:00 - 11:10 Maisto dovanojimas vienuolei<br>
        18:00 - 18:30 Giedojimas<br>
        18:30 - 19:30 Meditacija</p>
    </div>
</div>