<div class="row">
    <div class="col-md-12">
        <div class="service-details mb-40">
            <!-- <h3>Dedicated support quaerat parturient denouncing</h3> -->
            <p>Centro programoje tinkantį sau užsiėmimą ras ir tie, kam  budizmas yra įdomus kaip religija, ir tie, kas domisi budizmu kaip filosofija, ir tie, kam priimtinas tik nereliginis budizmo aspektas - meditacija.</p>    
        </div>
        
        <h4>Pirmadienis - Penktadienis</h4>
        <p>5:40 - 6:00 Giedojimas<br>
        6:00 - 7:00 Meditacija<br>
        18:30 - 19:00 Giedojimas<br>
        19:00 - 20:00 Meditacija</p>
        <h4>Trečiadienis</h4>
        <p>20:10 - 21:00 Paskaita „Budizmo pagrindai”</p>
        <h4>Šeštadienis</h4>
        <p>8:40 - 9:00 Giedojimas<br>
        9:00 - 10:00 Meditacija<br>
        17:30 - 18:00 Giedojimas<br>
        18:00 - 19:00 Meditacija</p>
        <h4>Sekmadienis</h4>
        <p>8:20 - 8:30 Maisto aukojimas Budai<br>
        8:30 - 8:40 Prieglobstis ir penki priesakai<br>
        8:40 - 9:00 Giedojimas<br>
        9:00 - 10:00 Meditacija<br>
        10:00 - 11:00 Kalba apie Dhammą<br>
        17:30 - 18:00 Giedojimas<br>
        18:00 - 19:00 Meditacija</p>
    </div>
</div>