---
layout: page
title: Parama
action: "Paaukoti"
action_link: /modals/rekvizitai.html
permalink: "/pages/parama/"
---



<!-- services-area -->
<section class="service-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Palaikykite šviesą</h2>
                    <p><em>Alokos centras</em> gyvuoja tik dėl to, kad bendruomenė jį remia, tad <em>Alokos centras</em> – tai erdvė gerai valiai pasireikšti. Jūsų gražiausios intencijos palaikyti mūsų centrą gali būti išreikštos įvairiais būdais.</p>
                </div>
            </div>
        </div>
</section>



<!-- about-area -->
<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Dosnumas džiugina širdį</h2>
                </div>
                <div class="about-content">
                    <p>Dosnumas, būdamas bendra visiems tikėjimams ir dvasinėms praktikoms dorybe, užima svarbią vietą ir budizme. Dosnumas yra vienas iš proto ir širdies gryninimo nuo godumo būdų. Jis neša džiaugsmą ir laimę kiekvienoje savo pasireiškimo stadijoje. Mintys puosėlėjančios dosnumo ketinimą sukelia džiaugsmą. Esame laimingi duodami. Džiaugsmą mums sukelia prisiminimai apie tai, kad buvome dosnūs.</p>
                    <p><em>Alokos centre</em> sekama sena budistine tradicija ir dalinamasi budistiniais mokymais ir išmintimi neprašant už tai nieko. Tai įmanoma tik tol, kol yra žmonių, kurie savo dosnumu palaiko centro veiklą.</p>
                    <p>Šis principas yra naudingas abiems pusėms. Žmonės gauna nuostabią galimybę išreikšti savo malonę ir patirti dosnumo džiaugmą, o centras - atvirai ir nuoširdžiai dalintis Dhamma su visais ieškančiais laimės ir ramybės.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                        <div class="about-img text-center">
                            <img src="{{site.baeurl}}/assets/img/parama/indagaw.jpg"  alt="dana to monks" style="width: 95%;">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include call_to_action.html %}

<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row ">
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="about-img text-center">
                    <img src="{{site.baeurl}}/assets/img/parama/sarana_vihara.jpg"  alt="aukojimas" style="width: 95%;">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20">
                <div class="section-title">
                    <h2>Kaip prisidėti</h2>
                </div>
                <div class="about-content">
                    {%include contribute.html%}
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Dovanos vienuolei</h2>
                </div>
                <div class="about-content">
                    <p>Aukodami <em>Alokos centro</em> nuomai - aukojate ne tik vietą Dhammos šviesai, bet ir būstą ten gyvenančiai vienuolei. Vienuolės buvimas centre suteikia Vakaruose retai pasitaikančią galimybę paaukoti žmogui, pašventusiam savo gyvenimą proto iš širdies gryninimui ir šviesos įžiebimui aplinkiniuose. Vienuolių taisyklės draudžia priimti pinigus, bet tradiciškai leidžia priimti būtiniausius dalykus: būstą, rūbus, maistą ir vaistus. Žinoma, šiais laikas būtinybių sąrašas pailgėjo ir dabar į jas įeina: higienos reikmenys, komunikacijos priemonės, transporto bilietai, sveikatos draudimas ir panašiai.</p>
                    <p>Tai, kad vienuoliams draudžiama naudotis pinigais, atrodo neįprastai, bet šios taisyklės laikymasis žmogaus auką padaro prasmingesne ir neleidžia vienuoliams  atitolti nuo pasauliečių - skatina abiem pusėm naudingą ryšį. Vienuoliai fiziškai priklauso nuo pasauliečių dosnumo, pasauliečiai, savo ruožtu, dvasiškai priklauso nuo vienuolių atjautos ir išminties. Būtinybes vienuolei galite dovanoti tiesiogiai – atėję į centrą, arba per jos padėjėją, su kuriuo galite susisiekti parašę į <a href="mailto:???kapiya@theravada.lt">elektroninį paštą</a>.</p>
                    <!-- <p>arba paskambinę <a href="+3706?????">86?????</a></p> -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                        <div class="about-img text-center">
                            <img src="{{site.baeurl}}/assets/img/parama/offering_nuns.jpg"  alt="aukos vienuolems" style="width: 95%;">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


