---
layout: featured
title:
permalink: "/pages/sekmadieniai/"
---
<h2>Šventinė sekmadieninė programa</h2>
<p>Pirmą mėnesio sekmadienį (Rugs 4d., Spa 2d., Lap 6d., Grd 4d.) centre vyksta šventinė programa.</p>
<p>9:00 - 9:20 Maisto aukojimas Budai, Prieglobstis ir penki priesakai<br>
9:20 - 10:00 Giedojimas ir Meditacija<br>
10:00 - 11:00 Kalba apie Dhammą<br>
11:00 - 11:10 Maisto dovanojimas vienuolei<br>
18:00 - 18:20 Giedojimas<br>
18:20 - 19:00 Meditacija</p>
<section>
    {% include offerings.html %}
</section>
<section>
    {% include refuge.html %}
</section>
<section>
    {% include dhamma_talk.html %}
</section>
<section>
    {% include food_dana.html %}
</section>


