---
layout: featured
title:
permalink: "/pages/sekmadieniai/"
---
<h2>Šventinė sekmadieninė programa</h2>
<p>Pirmą mėnesio sekmadienį (Rugs 4d., Spa 2d., Lap 6d., Grd 4d.) centre vyksta šventinė programa.</p>

<p>8:20 - 8:30 Maisto aukojimas Budai<br>
    8:30 - 8:45 Prieglobstis ir penki priesakai<br>
    8:45 - 9:00 Giedojimas<br>
    9:00 - 10:00 Meditacija<br>
    10:00 - 11:00 Kalba apie Dhammą<br>
    11:00 - 11:10 Maisto dovanojimas vienuolei<br>
    18:00 - 18:30 Giedojimas<br>
    18:30 - 19:30 Meditacija</p>

<section>
    {% include offerings.html %}
</section>
<section>
    {% include refuge.html %}
</section>
<section>
    {% include dhamma_talk.html %}
</section>
<section>
    {% include food_dana.html %}
</section>


